.menu__btn {
    padding: 5px 14px;
    border-radius: 50%;
  }
  .menu__btn:hover {
    background-color: rgba(51, 51, 51, 0.10);
   
  }
  .menu__btn:hover svg *{
    fill:#555555
  }
  @media (max-width: 600px) {
    
  .menu {
    position: absolute;
    transform: rotate(90deg);
    top: 10px;
    right: 10px;
  }

  }