:root {
  --main-color: #66bb6a;
  --color-second: #ccc;
  --c-gray: #ccc;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}