* {
  /* border: 1px solid #812805bd; */
}
.card {
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  flex-flow: row wrap;
  max-height: 110px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #b3b3b346;
}

.card__img {
  width: 20%;
  max-width: 190px;
  max-height: 110px;
}
.title {
  margin: 0;
}

.txt {
  padding: 0;
  margin: 0;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.txt--light {
  color: #999;
}
.text-content {
  position: relative;
  width: 65%;
}
.controls {
  display: flex;
}

.voites-counter {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.comments-btn,
.other-links {
  display: none;
}
.heading {
  color: #333;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


@media (max-width: 900px) {
  .text-content {
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .card {
    flex-direction: column;
    max-height: 350px;
    align-items: flex-start;
    overflow: hidden;
  }
  
  .card__img {
    width: 100%;
    max-width: none;
    max-height: 180px;
    margin-bottom: 10px;
  }
 
  .controls {
    padding: 0 20px 10px;
    order: 3;
    width: 100%;
    justify-content: space-between;
  }
  .other {
    order: 4;
  }
  .voites-counter {
    flex-direction: row;
  }
  .comments-btn {
    display: block;
  }
  
}
