#root {
  display: flex;
  justify-content: center;
}
.CardsList {
  padding: 40px ;
  padding-top: 2vh;
  width: 1024px;
}

@media (max-width: 600px) {
  .CardsList {
    padding: 0px ;
    padding-top: 2vh;
    width: 100%;
  }
}
